{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2 class="text-center">Book Details</h2>
<div class="container mt-5">
    <div class="card mb-3 mx-auto" style="max-width: 800px;">
  <div class="row g-0">
    <div class="col-md-4 me-5">
      <img src="{{book.cover.url}}" class="rounded-start p-3" height="300px" width="100%" alt="...">
    </div>
    <div class="col-md-7 mt-3">
      <div class="card-body">
        <h5 class="card-title mt-2">Title:{{book.title}}</h5>
        <p class="card-text mt-2">Author:{{book.author}}</p>
        <p class="card-text mt-2">Language:{{book.language}}</p>
          <p class="card-text mt-2">Price:{{book.price}}</p>
          <p class="card-text mt-2">Pages:{{book.pages}}</p>
          <a href="{{book.pdf.url}}" class="btn btn-danger mt-3">Download</a>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}