{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>View Books</h2>

<table class="table table-secondary table-striped table-hover">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Pages</th>
        <th>Price</th>
        <th>Language</th>
        <th>Cover</th>
        <th>PDF</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    {% for i in Book %}
    <tr>
        <td>{{i.title}}</td>
        <td>{{i.author}}</td>
        <td>{{i.pages}}</td>
        <td>{{i.price}}</td>
        <td>{{i.language}}</td>
        <td><img src="{{i.cover.url}}" height="100px" width="150px"></td>
        <td><a href="{{i.pdf.url}}">Download</a></td>
        <td><a href="{% url 'books:detail' i.id %}" class="btn btn-success">View</a></td>
        <td><a href="{% url 'books:edit' i.id %}" class="btn btn-primary">Edit</a></td>
        <td><a href="{% url 'books:delete' i.id %}" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}

</table>


<!--<ol>-->
<!--    {% for i in Book %}-->
<!--    <li>-->
<!--        <ul>-->
<!--            <li>Title:{{i.title}}</li>-->
<!--            <li>Author:{{i.author}}</li>-->
<!--            <li>Pages:{{i.pages}}</li>-->
<!--            <li>Price:{{i.price}}</li>-->
<!--            <li>Language:{{i.language}}</li>-->
<!--            <li>Cover:{{i.cover}}</li>-->
<!--            <li>Pdf:{{i.pdf}}</li>-->
<!--        </ul>-->
<!--    </li>-->
<!--    {% endfor %}-->
<!--</ol>-->

{% endblock %}